In [1]:
import os
import pandas as pd 
from matplotlib import pyplot as plt
import numpy as np
import json
import requests
# Movie DB api key 8bc5a5245af0e94fde2d2ac84dffb856
api_key='8bc5a5245af0e94fde2d2ac84dffb856'

In [2]:
#get the location of the eightis
company_id=2
com_url=f"https://api.themoviedb.org/3/company/{company_id}?api_key={api_key}"

In [3]:
# TRY MY COMPANY ID
test_co = []
test_co_json = requests.get(com_url).json()
test_co.append(test_co_json)

In [4]:
#company id loop
test_loop_co=[]
#a key difficulty is that we do not know how many companies there are
#try with a loop from 1-100 in order tto s
for company_id in range(0,100):
    locom_url=f"https://api.themoviedb.org/3/company/{company_id}?api_key={api_key}"
    test_loop_co_json = requests.get(locom_url).json()
    test_loop_co.append(test_loop_co_json)

In [23]:
len(test_loop_co)

100

In [91]:
#look at the data and turn it into a list
#turn it into a csv
headquarters=[]
company_name=[]
company_country=[]
company_parent=[]

for i in range(1, 100):
    try:
        company_name.append(test_loop_co[i]['name'])
        headquarters.append(test_loop_co[i]['headquarters'])
        company_country.append(test_loop_co[i]['origin_country'])
        company_parent.append(test_loop_co[i]['parent_company'])
    
    except:
#         KeyError
        company_name.append("---")
        headquarters.append("---")
        company_country.append("---")
        company_parent.append("---")
    
#     company_name.append(test_loop_co[x]['name'])
#     company_country.append(test_loop_co[x]['origin_country'])
#     company_parent.append(test_loop_co[x]['parent_company'])


comp_test_df= pd.DataFrame({"company_name": company_name,"comp_countries":company_country, "headquarters": headquarters})

In [92]:
# aggregae camp_test_df
comp_test_df.info()
#write this int o a csv to read it better:
comp_test_df.to_csv("test_1.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_name    99 non-null     object
 1   comp_countries  66 non-null     object
 2   headquarters    99 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

In [99]:
# drop the null value and remove the "---"
comp_test_df=comp_test_df.dropna()
# comp_test_df["headquarters"].drop("---")
comp_test_df = comp_test_df[comp_test_df["headquarters"].str.contains("---")==False]

In [101]:
comp_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 96
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_name    59 non-null     object
 1   comp_countries  59 non-null     object
 2   headquarters    59 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [102]:
#get the company production and years selected_year = 1990